body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4
}

header {
    background: #2e8b57;
    color: #fff;
    padding: 20px;
    text-align: center
}

nav {
    background: #333;
    padding: 10px;
    text-align: center
}

nav a {
    color: #fff;
    margin: 10px;
    text-decoration: none
}

.gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px
}

.gallery img {
    width: 220px;
    cursor: pointer
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);
    align-items: center;
    justify-content: center
}

.modal img {
    max-width: 90%;
    max-height: 90%
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px
}